/* Place */
.place-badge-outer {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    display: inline-block;
}

.place-badge-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}

.info-left {
    margin-right: 1em;
}

.info-left img {
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.info-place {
    font-weight: bold;
}

.review-link {
    margin-top: 0.7em;
}

.review-link a {
    color: #fff!important;
    padding: 8px 20px 10px;
    background: #0a6cff;
    text-shadow: 1px 1px 0 #888;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.rating-star {
    display: inline-block;
    width: 16px;
    height: 15px;
    overflow: hidden;
}

.rating-full-star {
    background-image: url("https://maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_14.png");
    background-size: cover;
}

.rating-half-star {
    background-image: url("https://maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_half_14.png");
    background-size: cover;
}

.rating-empty-star {
    background-image: url("https://maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_empty_14.png");
    background-size: cover;
}


/* Reviews */
.review-list {
    display: flex;
    flex-direction: row;
    align-items: top;
    flex-wrap: wrap;
    padding-left: 1rem;
}

.review-badge-outer {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    display: inline-block;
    margin: 5px;
    max-width: 25rem;
}

.review-box-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}

.review-box-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img.user-image {
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    width: 50px;
    height: 50px;
}

.author-link {
    font-weight: bold;
    font-size: 15px;
}

.rating-value {
    margin-left: 5px;
    font-weight: 500;
}

.review-rating {
    margin-bottom: 5px;
    margin-top: 5px;;
}

.review-text {
    overflow-y: auto;
    height: 8rem;
    scrollbar-width: thin;
}

p::-webkit-scrollbar {
    width: 10px;
}

p::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #9d9d9db1;
    border: solid 3px transparent;
    border-radius: 10px;
}

p::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px #d4d4d493;
    border: solid 3px transparent;
    border-radius: 10px;
}